
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px 0 0;
  width: 100%;
}

article {
  width: 100px;
  height: 200px;
  margin: 0 0 20px 20px;
  background-color: grey;
}